body {
  margin: 0;
  font-family: Arial;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 10px 20px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.menu-btn {
  display: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: url('https://upload.wikimedia.org/wikipedia/commons/6/6c/Fantasia_Morocco.jpg') center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #eee;
  padding: 20px;
  flex: 1;
  text-align: center;
  border-radius: 10px;
}

/* GALLERY */
.gallery {
  display: flex;
  gap: 10px;
}

.gallery img {
  width: 30%;
  border-radius: 10px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
}

/* DARK MODE */
.dark {
  background: #111;
  color: white;
}

/* RESPONSIVE */
@media(max-width:768px) {
  nav {
    display: none;
    flex-direction: column;
  }

  nav.active {
    display: flex;
  }

  .menu-btn {
    display: block;
  }

  .cards {
    flex-direction: column;
  }

  .gallery {
    flex-direction: column;
  }

  .gallery img {
    width: 100%;
  }
}